* {
    margin: 0;
    padding: 0;
}

.banner-area {
    width: 100%;
    height: 800px;
    /*position: fixed;*/
    background-image: url(../images/mountain.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.bestpicture{
    position: absolute;
    margin: 350px;
}

.content-area {
    width: 100%;
    /*position: relative;*/
    top: 840px;
    background: white;
    height: 100%;

}
.content-area h2 {
    font-family: acumin-pro-semi-condensed, "Source Code Pro Semibold";
    font-weight: 550;
    font-style: normal;
    padding: 63px;
    font-size: 60px;
    color: #70C8FA;

}
.content-area p {
    padding-left: 63px;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 30px;
    display: grid;
    height: 100%;
    padding-bottom: 50px;
}

.item1{
    float: left;
    margin-right: 10px;
    width: 50%;
}

.item2{
    padding-left: 70px;
    padding-right: 70px;
}

.ue1{
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-stretch: condensed;
    font-size: 30px;
    padding: 50px;
    color: #70C8FA;
}

.year{
    font-family: acumin-pro, sans-serif;
    font-weight: 350;
    font-style: italic;
    font-size: 20px;
    color: #70C8FA;
}

.effect:hover {
    opacity: 0.7;
}

.aftereffect:hover{
    background: url("/assets/images/herz.png") no-repeat;
}


.wrapper {
    width: 100%;
    height: 100%;
}

.content-area{
    width: 100%;
    height: 100%;
}

body{
    background-color: #202125;
}


