*{
    margin: 0px;
}

html, body{
    height: 100%;
    background-image: url("/BestPicture/assets/images/rose_farbe.png");
}

.content-area {
    width: 100%;
    height: 45em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h5{
    color: white;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 30px;
    padding: 55px 0px 30px 55px;
    font-size: 70px;
    float: left;
}
.acc{
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 4px;
    padding: 0px 5px 5px 55px;
    font-size: 20px;
    color: white;
    float: right;
}
.profil{
    margin-right: 10px;
}

#mail{
    float: left;
}
.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 15em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
