#nav-profile{
    margin-bottom: 20px;
}
.gallary-links .wrapper{
    width: 1200px;
    margin: 0 auto;
}
.gallary-links{
    overflow: hidden;
    margin-bottom: 30px;
}

.gallary-links .gallary-link{
    float: left;
    align-self: center;
    width: 380px;
    height: 380px;
    margin: 10px 10px 10px 10px;
    background-color: #E3E3E3;
}
.content-picture{
    width: 380px;
    height:380px;
    object-fit: cover;
    object-position: 10%
}