header{
    top: 0;
}
main{
    margin-top: 5%;
}
h5{
    text-decoration: none;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

.bo {width: 250px;
    height: 250px;
    border-radius:50%;
}
.boimg-1 {;
    object-fit: cover;
    object-position: 10%;
    margin: 10px 10px 20px 10px;
}

.gallary-links .wrapper{
    width: 80%;
    margin: 0 auto;
}
.gallary-links{
    overflow: hidden;
    margin-bottom: 30px;
}

.gallary-links .gallary-link{
    float: left;
    align-self: center;
    width: 380px;
    height: 380px;
    margin: 10px 10px 10px 10px;
    background-color: #E3E3E3;
}
.content-picture{
    width: 380px;
    height:380px;
    object-fit: cover;
    object-position: 10%
}