* {
    margin: 0;
    padding: 0;
    font-family: acumin-pro-semi-condensed, sans-serif;
}

body{
    background-image: url(../images/upload.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 30px;
}


section {
    background-color: rgba(88, 135, 250, 0.6);
    margin: 100px 20% 50px 20%;
    padding: 1px;
}


.form{
    margin: 5% 10% 5% 10%;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px;
}


textarea{
    resize: none;
    height: 100px;
    margin-top: 10px;
}

.flogo{
    width: 10px;
    height: 10px;
}


.ftext > label > * {
    border: none;
    outline: none;
    border-bottom: 2px solid #5887FA;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.buttons > button {
    width: 30%;
    height: 35px;
    margin-top: 20px;
    margin-left: 35%;
    border-color: #54ABF0;
    font-weight: bold;
    background: none;
}
