* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/upload.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.form{
    position: absolute;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: white;
    margin: 15%;
}

textarea{
    resize: none;
}

.flogo{
    width: 10px;
    height: 10px;
}

.ftext{
}

div.form{
    display: block;
    text-align: center;
}
